.hero-section {
 width: 100%;
 height: 140px;
 display: flex;

 .hero-text {
  max-width: 1148px;
  margin: auto;
 }
}
.text-section {
 max-width: 1148px;
 margin: auto;
 display: flex;
 justify-content: space-between;

 .heading-contaner {
  width: 310px;

  .heading {
   display: flex;
  }
 }
 .description-contaner {
  width: 788px;

  .description-heading {
   display: flex;
  }
 }
}
