@import "../../assets/css/index.scss";

.main-area {
  .heroSection {
    background-image: url("../../assets/images/hero-section.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 284px;
    padding: 50px 0;
    h2{
      max-width: 1000px;
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 49px;
      line-height: 58px;
      display: flex;
      align-items: center;
      color: $yellow-heading;
    }
    p{
      margin-top: 22px;
      max-width: 1000px;
      font-family: $rubik;
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 30px;
      color: #FFFFFF;
    }
  }
  .api-section {
    margin-top: 23px;
    h2{
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      text-transform: uppercase;
      color: $yellow-heading;
    }
    .api-content {
      display: flex;
      .mr-90{
        margin-right: 90px;
      }
      .ml-75{
        margin-left: 75px;
      }
      .api-content-detail{
        margin-top: 40px;
        
       
        h3{
          max-width: 500px;
          font-family: $rubik;
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 30px;
          text-transform: uppercase;
          color:$blue-text;
        }
        p{
          margin-top: 30px;
          max-width: 500px;
          font-family: $Open-Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
        }
        a{
          font-family: $rubik;
          font-style: normal;
          font-weight: 500;
          font-size: 14.7987px;
          line-height: 18px;
          color: $blue-text;
        }
      }
    }
  }

  .bussiness-product-section {
    background-image: url(../../assets/images/busi-background.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    // height: 651px;
    .bussiness-product-title{
      padding-top: 101px;
      h2{
        font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        color: $yellow-heading;
      }
      p{
        margin-top: 15px;
        font-family: $rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 30px;
        color: $white-text;
      }
    }
    .bussiness-card-content {
      display: flex;
      padding-top: 61px;
      padding-bottom: 103px;
      justify-content: center;
      .mr-94{
        margin-right: 94px;
      }
      .bussiness-card {
        text-align: center;
        padding: 5px;
       
        .bussiness-card-detail{
          max-width: 300px;
          border-bottom: 5px solid $yellow-heading;
          h2{
            margin-top: 36px;
            font-family: $rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $white-text;
          }
          p{
            margin-top: 15px;
            font-family: $Open-Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: $white-text;
          }
          .bussiness-card-footer{
            margin-top: 40px;
            margin-bottom: 28px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
              font-family: $rubik;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              color: $white-text;
            }
          }
          
        }
      }
    }
  }

  .techSection {
    .tech-heading {
      display: flex;
    }
    .tech-content {
      display: flex;
      justify-content: space-between;
      .tech-step {
        .tech-step-card {
          display: flex;
        }
      }
    }
  }

  .developer-get-started {
    background-image: url("../../assets/images/Rectangle21.svg");
    background-size: cover;
    background-repeat: no-repeat;
    .get-started-content {
      display: flex;
    }
  }

  .developer-tool-area {
    .developer-tools-content {
      .developer-tools-cards {
        display: flex;
        .developer-tool-card {
        }
      }
    }
  }
  .developer-help-area {
    .develper-content {
      .developer-help-cards {
        display: flex;
        justify-content: space-between;
        .deveoloper-help-card {
          border-bottom: 2px solid $yellow-heading;
        }
      }
    }
  }

  .footer-area {
    background-image: url("../../assets/images/hero-section.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;

    .footer-content-area {
      display: flex;
      justify-content: space-between;
      .footer-links {
        display: flex;
        flex-direction: column;
        a {
          color: #ffffff;
        }
      }
    }
  }
  .bottom-footer {
    text-align: center;
    background-color: $blue-text;
  }
}
